<div class="modal edit-modal">
	<div class="modal-header">
		<span class="event-name"></span>
		<span class="cancel">&times;</span>
	</div>
	<div class="modal-body">
		<label class="date-label">Where</label>
		<p class="where"></p>
		<label class="date-label">When</label>
		<p class="when"></p>
		<label class="date-label">Description</label>
		<p class="description"></p>
	</div>
	<div class="modal-footer">
		<button id='delete' type='cancel'>Delete</button>
		<button id='edit' type='submit'>Edit</button>
	</div>
</div>