<div class="sidebar col-md-2">
	<div class="sidebar-month">
		<div class="sidebar-header"></div>
		<div class="sidebar-calendar">
			<div class="sidebar-weeks">
				<div class="week week-sidebar">Su</div>
				<div class="week week-sidebar">Mo</div>
				<div class="week week-sidebar">Tu</div>
				<div class="week week-sidebar">We</div>
				<div class="week week-sidebar">Th</div>
				<div class="week week-sidebar">Fr</div>
				<div class="week week-sidebar">Sa</div>
			</div>
			<div id="sidebar-days"></div>
		</div>
	</div>
	<div class="sidebar-time"></div>
	<div class="sidebar-events">
		<div class="sidebar-header">Today</div>
		<div class="sidebar-event"></div>
	</div>
	<div>
		<div class="sidebar-header">Weather</div>
		<div class="sidebar-weather"></div>
	</div>
	<!-- <script language="JavaScript" type="text/javascript"> 
 document.write('<script language="JavaScript" src="https://www.worldweatheronline.com/widget/v4/weather-widget.ashx?q=Bangalore%2c+India&width=220&custom_header=Bangalore, India&num_of_day=0&title_bg_color=020202&title_text_color=FFFFFF&widget_bg_color=FFFFFF&widget_text_color=020202&type=js&icon=0&cb=' + Math.random() + '" type="text/javascript"><\/scr' + 'ipt>');
 </script><noscript><a href="https://www.worldweatheronline.com" alt="Bangalore, India weather">7 day Bangalore, India weather</a> provided by <a href="https://www.worldweatheronline.com">World Weather Online</a></noscript> -->
</div>